//
// Colors
//

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$primary: #273e3e;

// Override Bootstrap default state colors

$primary: $primary;
